.restoPicture {
  display: flex;
  margin-top: 10px;
  justify-content: center;

  img {
    height: 25rem;
  }
}

@media all and (max-width: 1200px) {
  .restoPicture {
    img {
      height: 20rem;
      margin-right: 17rem;
    }
  }
}
